<div class="example-container">
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">B</mat-option>
      <mat-option value="option">KIA</mat-option>
      <mat-option value="option">HYUNDAI</mat-option>
      <mat-option value="option">HONDA</mat-option>
      <mat-option value="option">MARUTI SUZIKI</mat-option>
      <mat-option value="option">BENZ</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>
        
<button mat-rasied-button>SUBMIT</button>
</div>
<router-outlet></router-outlet>